
        body{
            font-size: 16px;
            background-color: aqua;
        }

        h1 {
            font-family: sans-serif;
            background-color: gray;
            text-align: center;
        }
        p {
            font-size: 3em;
            font-weight: 600;
            text-align: center;
            background-color: gray;
        }
        ul{
            line-height: 40px;
            font-style: italic;
            font-size: 1.5em;
            text-decoration: underline;
            background-color: rgb(247, 194, 194);
        }
        li{
            text-align: center;
        }
        .amarelo {
            color: yellow;
        }
        .vermelho{
            color: red;
        }
        .marrom{
            color: brown;
        }
