.Pokemon {
  display: flex;
  width: 350px;
  padding: 65px;
  margin: auto;
  margin-bottom: 10px;
  border-radius:8px;
  box-shadow: rgb(96, 196, 233) 0px 2px 8px;
  color: rgb(57, 57, 57);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  background-color: rgba(174, 174, 174, 0.3);
}

.divPai{
  display: flex;
  flex-wrap: wrap;
  margin: 100px 500px;
}

.Pokemon:hover {
  box-shadow: rgb(35, 35, 35) 0px 2px 8px;
  color: rgb(255, 255, 255);
  background-color:rgb(75, 74, 74)
}

.imgPoke {
  margin-left: 80px;
  height:200px
}

.imgPoke:hover {
  height:220px
}